<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icons/icons8-cloud.png" type="image/png">
    <title>Thanks</title>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.8/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.8/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.8/dist/js/uikit-icons.min.js"></script>
    
    
    
        <link rel="stylesheet" href="/static/css/styles.css" />

        <link rel="stylesheet" href="/static/css/styles_footer.css" />
</head>
<body>
    <header uk-sticky="start: 200; animation: uk-animation-slide-top">
        <div class="prueba">
          <div id="brand"><a href="/"><img src="/static/images/PROJEXEL+LOGO.png" alt="" style="width: 14rem ;"></a></div>
    
          <nav>
    
            <ul>
    
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="itservices" >IT Services</a></li>
              <li><a href="contact">Contact</a></li>
    
            </ul>
    
          </nav>
    
          <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
    
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
    
            <ul class="mobile-menu">
    
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="itservices">IT Services</a></li>
              <li><a href="contact" >contact</a></li>
    
              <li><a class="socialnet" href="https://mobile.twitter.com/LLCProjexel" target="_blank">Twitter</a></li>
              <li><a class="socialnet" href="https://www.linkedin.com/company/projexel-llc/about/" target="_blank">LinkedIn</a></li>
              
    
            </ul>
    
          </div>
        </div>
      </header>

      <div class="thanks" style="  height: 60vh; display: flex; align-items: center; justify-content: center;">
        
        
        


        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
            <h1 class="uk-text-center">Thank you for contact us!</h1>
            <h2 class="uk-text-center">We will answer your message shortly</h2>
            <h3 class="uk-text-center">Return to <a href="/">Main Page</a> </h3>
        </div>


      </div>

      <script src="../static/js/index.js"></script>
</body>
</html>